source "C:/Users/Administrator/esp-idf/components/app_update/Kconfig.projbuild"
source "C:/Users/Administrator/esp-idf/components/bootloader/Kconfig.projbuild"
source "C:/Users/Administrator/esp-idf/components/esp_rom/Kconfig.projbuild"
source "C:/Users/Administrator/esp-idf/components/esptool_py/Kconfig.projbuild"
source "C:/Users/Administrator/esp-idf/components/partition_table/Kconfig.projbuild"
source "C:/Users/Administrator/Desktop/code/TrackLane/components/arduino/Kconfig.projbuild"