source "D:/tools/esp-idf-v4.4.8/components/app_update/Kconfig.projbuild"
source "D:/tools/esp-idf-v4.4.8/components/bootloader/Kconfig.projbuild"
source "D:/tools/esp-idf-v4.4.8/components/esp_rom/Kconfig.projbuild"
source "D:/tools/esp-idf-v4.4.8/components/esptool_py/Kconfig.projbuild"
source "D:/tools/esp-idf-v4.4.8/components/partition_table/Kconfig.projbuild"
source "C:/Users/Administrator/Desktop/code/TrackLane/components/arduino/Kconfig.projbuild"